<%- include('./partials/head') %>

    <div class="product">
        <p>Item num: <%=item.id%></p>
        <h1 class="title"><%=item.title%></h1>
        <p class="description"><%=item.about%></p>
        <form action="/bid/<%=item.id%>" method="post">
            <input type="number" name="bid" id="">
            
            <button>Submit Bid</button>
        </form>
    </div>

<%- include('./partials/footer') %>