<% layout('layouts/boilerplate') %> 
<form action="/users/profile?_method=PUT" method="POST" enctype="multipart/form-data">
    <div>
        <label for="firstName">First Name</label>
    </div>
    <div>
        <input type="text" name="firstName" id="firstName" value="<%= user.firstName %> ">
    </div>
    <div>
        <label for="lastName">Last Name</label>
    </div>
    <div>
        <input type="text" name="lastName" id="lastName" value="<%= user.lastName %> ">
    </div>
    <div>
        <label for="email">Email</label>
    </div>
    <div>
        <input type="email" name="email" id="email" value="<%= user.email %> ">
    </div>
    <div>
        <label for="avatar">Update Profile Pic</label>
    </div>
    <div>
        <img src="<%= user.avatar.thumbnail %> " alt="your profile pic">
    </div>
    <div>
        <input id="avatar" type="file" name="avatar">
    </div>
    <div>
        <label for="phoneNumber">Phone Number</label>
    </div>
    <div>
        <input type="text" name="phoneNumber" id="phoneNumber" value="<%= user.phoneNumber %> ">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>