<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/profile.css" />
<div id="container" class="card shadow-10 rounded-6">
    <%= currentUser %>
    <h1 class="p-3 mt-3">Profile</h1>
    <img style="width: 12rem" src="<%= user.avatar.path %> " alt="" class="center" />
    <h6 class="mt-3">Full Name</h6>
    <h3><%= user.firstName %> <%= user.lastName %></h3>
    <h6>Email</h6>
    <h3><%= user.email %></h3>
    <h6>DOB</h6>
    <h3><%= user.dob %></h3>

    <% if(user.products.length){ %>
    <h2>Listed items</h2>
    <ul>
        <% for (product of user.products){ %>
        <li><a href="/products/<%= product._id %>"><%= product.title %></a></li>
        <% } %>
    </ul>
    <% } %>
    <% if(user.bids.length){ %>
        <h2>Bids</h2>
        <ul>
        <% user.bids.forEach(bid =>{ %> 
           <li>
                <a href="/products/<%= bid.product?._id %>"><%= bid.product?.title %></a> 
           </li>
        <% }) %> 
        </ul>
    <% } %>  

    <a href="/users/logoutAll">Logout from all the devices</a>
    <a href="/users/edit" class="mb-4">Edit</a>

    <!-- <div>
        Will be rendered dynamically
        <h1>Winner!</h1>
        <p>Congrats ${firstName} ${lastName} for winning this product 🎉</p>
        <p><a href="/users/${_id}">See profile</a></p>
        <form action="/contactSeller/${productId}">
        <button class="btn btn-primary">Contact Seller</button>
    </form>
   </div> -->
   
</div>