<% layout('layouts/boilerplate') %> 

<h1>Dashboard</h1>
<hr>
<img style="width: 12rem;" src="<%= user.image %> " alt="">
<h2>Full Name</h2>
<h3><%= user.firstName %> <%= user.lastName %> </h3>
<h2>Email</h2>
<h3><%= user.email %></h3>
<h2>DOB</h2>
<h3><%= user.dob %></h3> 
<h2>Password</h2>
<h3><%= user.password %></h3>
<a href="/users/<%= user._id %>/edit">Edit</a>

<form action="/users/<%= user._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form>
<a href="/users">Home</a>