<% layout('layouts/boilerplate') %> 

<h1>Profile</h1>
<hr>
<img style="width: 12rem;" src="<%= user.avatar.path %> " alt="">
<h2>Full Name</h2>
<h3><%= user.firstName %> <%= user.lastName %> </h3>
<h2>Email</h2>
<h3><%= user.email %></h3>
<h2>DOB</h2>
<h3><%= user.dob %></h3> 

<% if(user.products.length){ %>
    <h2>Listed items</h2>
    <ul>
        <% for (product of user.products){ %> 
            <li><a href="/products/<%= product._id %>"><%= product.title %></a></li>
        <% } %> 
    </ul>
<% } %>  

<a href="/users/edit">Edit</a>

<a href="/">Home</a>
<a href="/users/logout">Logout</a>