<% layout('layouts/boilerplate') %> 

<h1>Seller Profile</h1>
<hr>
<img style="width: 12rem;" src="<%= user.avatar.path %> " alt="">
<h2>Full Name</h2>
<h3><%= user.firstName %> <%= user.lastName %> </h3>
<h3>Listed items</h3>
<ul>
    <% for (product of user.products){ %> 
        <li><a href="/products/<%= product._id %>"><%= product.title %></a></li>
    <% } %> 
</ul>

<a href="/products">Products Page</a>
