<% layout('layouts/boilerplate') %> 

<form action="/products/<%= product._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <div>
        <label for="title">Title</label>
    </div>
    <div>
        <input type="text" name="title" id="title" value="<%= product.title %>" required>
    </div>
    <div>
        <label for="description">Description</label>
    </div>
    <div>
        <input type="text" name="description" id="description" value="<%= product.description %>" required>
    </div>
    <div>
        <label for="base_price">Base Price</label>
    </div>
    <div>
        <input type="number" name="basePrice" step="any" id="base_price" value="<%= product.basePrice %>" required>
    </div>
    <div>
        <label for="category">Select Category</label>
    </div>
    <div>
        <select name="category" id="category" required>
            <option value="<%= product.category %>"><%= product.category %></option>
            <option value="art">Art</option>
            <option value="antiques">Antiques</option>
            <option value="vehicle">Vehicle</option>
            <option value="books">Books</option>
            <option value="collectible">Collectible</option>
            <option value="other">Other</option>
        </select>
    </div>
    <div>
        <label for="images">Add Images</label>
    </div>
    <div>
        <input type="file" name="images" id="images" multiple>
    </div>
   
    <% if(product.images?.length){ %> 
        <div>
            <p>Delete images</p>
        </div>
        <% product.images.forEach((image, index)=>{ %>
            <img src="<%= image.thumbnail %>">
            <div>
                <input type="checkbox" name="deleteImages[]" id="img-<%= index %>" value="<%= image.filename %>">
                <label for="img-<%= index %>">Delete ?</label>
            </div>
        <% }) %> 
    <% } %>

    <div>
        <label for="startTime">Start Time</label>
    </div>
    <div>
        <input type="date" name="startTime" id="startTime" value="<%= product.startTime %>" required>
    </div>
    <div>
        <label for="duration">Duration</label>
    </div>
    <div>
        <select name="duration" id="duration" required>
            <option value="<%= product.duration %>"><%= product.duration %></option>
            <option value="3">3 days</option>
            <option value="5">5 days</option>
            <option value="7">7 days</option>
            <option value="10">10 days</option>
        </select>
    </div>
    <div>
        <button type="submit">Make it so!</button>
    </div>
</form>