<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/css/prod.css" />



<div class="prodContainer">
    <% for (let product of products){ %>
  <div class="product card--light">
      <a class="product__wrapper" href="/products/<%= product._id %>">
      <span class="image-container">
            <img class="product__image" src="<%= product.images[0].path %> "><br>
      </span>
      
      <h1 class="product__title"><%= product.title %></h1>
      <p class="product__body"><%= product.description %></p>
      <div class="wrapper wrapper--space">
          <p>CURRENT PRICE</p>
          <p>TIME REMAINING</p>
      </div>
      <div class="wrapper">
          <p> &#8377; <%= product.basePrice %> </p>
          <p id="timer"></p>
      </div></a>
  </div>
  <% } %> 
  <% if(currentUser){ %>
    <!-- <a href="/products/new">List an Item</a> -->
<% } %>
</div>

<script type="module"></script>
<script>
    let startTime = '<%- products.startTime %>';
    let endTime = '<%- products.endTime %>';
    const duration = '<%- products.duration %>';
    let highestBidInfo = '<%- JSON.stringify(products.currentHighestBid) %>';
    let auctionStatus = '<%- products.auctionStatus %>';
    const productId = '<%- products._id %>';
    const loggedinUserId = '<%- currentUser %>';
</script> 
<script src="/js/product/productPage.js"></script>