<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/css/styles.css" />



<div class="container prodContainer">
    <% for (let product of products){ %>
  <div class="product card--light">
      <a class="product__wrapper" href="/products/<%= product._id %>">
      <div class="image-container">
            <img class="product__image" src="<%= product.images[0].path %> "><br>
      </div>
      
      <h1 class="product__title"><%= product.title %></h1>
      <p class="product__body"><%= product.description %></p>
      <div class="wrapper wrapper--space">
          <p>CURRENT PRICE</p>
          <p>TIME REMAINING</p>
      </div>
      <div class="wrapper">
          <p> &#8377; <%= product.basePrice %> </p>
          <p class="countdown-timer" id="timer-<%= product._id %>"></p>
      </div></a>
  </div>
  <% } %> 
  <% if(currentUser){ %>
    <!-- <a href="/products/new">List an Item</a> -->
<% } %>
</div>

<script type="module"></script>
<script>
    let products = '<%- JSON.stringify(products) %>';
</script> 
<script src="/js/product/indexPage.js"></script>