<% layout('layouts/boilerplate') %> 

<h1>Product Page</h1>
<hr>

<% for (let image of product.images){  %> 
    <img style="width: 12rem;" src="<%= image.path %> "><br>
<% }%>
<h3>Title</h3>
<p><%= product.title %> </p>
<h3>Description</h3>
<p><%= product.description %></p>
<h3>Category</h3>
<p><%= product.category %> </p>
<h3>Base Price</h3>
<p> $ <%= product.basePrice %> </p>
<% if(currentUser && !product.user._id.equals(currentUser)){ %>
<div id="submit-bid">
    <form action="/users/<%= product._id %>/bid" method="post">
        <input type="number" min="<%= product.currentHighestBid.amount + 100 || product.basePrice + 100 %>" name="amount" placeholder="Enter your bid">
        <button type="submit">Submit Bid</button>
    </form>
    <form action="/users/<%= product._id %>/bid" method="post">
        <input type="text" name="amount" value="<%= product.currentHighestBid.amount + 100 || product.basePrice + 100 %>" hidden>
        <button class="btn btn-primary" type="submit">Quick Bid <%= product.currentHighestBid.amount + 100 || product.basePrice + 100 %></button>
    </form>
</div> 
<% } %>
<div id="bid-container">
    <% if(product.currentHighestBid.amount){ %>
<% if(product.currentHighestBid.amount){ %> 
    <% if(product.currentHighestBid.amount){ %>
        <h3>Current Highest Bid</h3>
        <p>$ <%= product.currentHighestBid.amount %></p>
    <% } %> 
<% } %> 
    <% } %> 
</div>

<h3>Start Time</h3>
<p class="startTime"><%= product.startTime %> </p>
<h3>Duration</h3>
<p><%= product.duration %> Days</p>
<h3>Listed by</h3>
<a href="/users/<%= product.user._id %>"><%= product.user.firstName %></a>
<hr>
<h1>Time Remaining</h1>
<p id="timer"></p>

<div id="claim-product">
    <form action="/products/<%= product._id%>/claim" method="POST">
        <button type="submit">Claim</button>
    </form>
</div>

<br>
<% if(currentUser && product.user._id.equals(currentUser)){ %>
    <a href="/products/<%= product._id %>/edit">Edit Product</a>
    <form action="/products/<%= product._id %>?_method=DELETE" method="post">
        <button type="submit">Delete Product</button>
    </form>
<% } %>

<button id="check-fetch">Click Me!</button>

<script type="module"></script>
<script>
    let startTime = '<%- product.startTime %>';
    let endTime = '<%- product.endTime %>';
    const duration = '<%- product.duration %>';
    let highestBidInfo = '<%- JSON.stringify(product.currentHighestBid) %>';
    let auctionStatus = '<%- product.auctionStatus %>';
    const productId = '<%- product._id %>';
</script> 
<script src="/js/product/productPage.js"></script>